/* Box Model Hack */
* {
    box-sizing: border-box;
}

.flexThisBox {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.main {
    flex: 1 0 auto;

}



/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

a{
    text-decoration: none;
}
/******************************************
/* BASE STYLES
/*******************************************/

html{
    font-size: 12px;
}

body {
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
    background-color: transparent;
    color: white;
}


/******************************************
/* GLOBAL LAYOUT
/*******************************************/

.navLink{
    color: #86baff;
    font-size: 0.9vw;
}

.navLink-drop{
    color: black;
}

.navLink:hover,
.navLink:active{
    color: salmon;
}

.loading{
    height: 400px;
    width: 400px;
    border-top-left-radius: 180px 250px;
    margin: 100px 200px;
    box-shadow: -15px -15px 60px -20px lightgreen,
     inset 10px 10px 15px -10px lightblue;
     background: linear-gradient(-45deg, #6839B0, #332E94, #D324CF, #10ADDC);
     background-size: 400% 400%;
     animation: gradient 3s ease infinite;
     z-index: 5
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Home */
.home{
    background: url(../../src/images/bgWhite.png) no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: local, scroll;
}

.background{
    z-index: -5;
}

/* NAV BAR */

/* HERO */
.hero{
    height:90vh;
    width: 100vw;
    background: transparent;
}

.hero h1{
    /* color: white; */
    font-size: 50px;
    padding-left: 5vw;
}

/* Train for Battle */
.trainForBattle{
    margin-top: 100px;
    height: 90vh;
    width: 100vw;
    background-color: transparent;
}

/* WHO WE ARE */
.whoWeAre{
    margin-top: 27%;

}

/* Case Studies */
.caseStudies{
    margin-top: 20%;
}

/* Latest Trained */
.latestTrained{
    margin-top: 210px;
    height: 90vh;
    width: 100vw;
    background-color: transparent;
}

/* FOOTER */
 .socialsBox a {
    color: white;
 }

 .socialsBox a:hover {
     color: aqua;
 }




/******************************************
/* ADDITIONAL STYLES
/*******************************************/




