



<!-- <footer class="">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <h5>Copyright (c) Defense Unicorns</h5>
    </div>
</footer> -->

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img src="../img/DU_logo.png" class="img-fluid" alt="">
        </div>

        <div class="d-flex justify-content-center flex-column align-items-center col-xs-6 col-md-3">
          <h6 class="left">Defense Unicorns</h6>
          <p class="text-center">555 E Pikes Peak Ave Colorado Springs, Co 80903</p>
          <a href="">LinkedIn</a>
          <a href="">Twitter</a>
          <a href="">Facebook</a>
        </div>

        <div class="d-flex justify-content-center flex-column align-items-center col-xs-6 col-md-3">
          <h6 class="left">Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">Train</a></li>
            <li><a href="http://scanfcode.com/contact/">Equip</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contact</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
   
</footer>