<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="description" content=""> -->
    <!-- <meta name="keywords" content=""> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defense Unicorns</title>
    <!-- <link rel="stylesheet" href="css/reset.css"> -->
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <%- include("partials/header.ejs") %>

      <h2 class="title text-center pt-5" id="battle">Our Approach.</h2>
      <p class="text-center fs-3 mt-5 desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, magni. Odit, et suscipit nesciunt neque magnam ut animi officiis natus accusamus fugit blanditiis beatae, dignissimos error, delectus nemo qui! Amet?</p>
      <div class="mt-5 w-100 d-flex justify-content-center align-items-center ">
        <div class="approach-links d-flex justify-content-between align-items-center">
  
          <a class="btn btn-outline-dark engineering" href="#engineering">Engineering</a>
  
          <a class="btn btn-outline-dark values" href="#values">Values</a>
  
        </div>

      </div>

      <h2 class="text-center title">Engineering</h2>
      <div id="#engineering" class="flexcontainer">
          
        <div>
          <ul class="list">
            <li>Product</li>
            <li>Product</li>
            <li>Product</li>
            <li>Product</li>
            <li>Product</li>
          </ul>
        </div>

        <div>
            <img src="../img/videoicon.png" />
        </div>

      </div>

        
      <h2 class="title text-center">Core Values</h2>

      <div id="values" class="values p-4 d-flex justify-content-around align-items-center">
          <div class="border d-flex justify-content-center align-items-center">
                <h3>IMAGE</h3>
          </div>

          <div class="border">

          </div>
      </div>
      <a href="/blog" class="btn btn-outline-dark btn-lg why">Why Now?</a>

      <%- include("partials/footer.ejs") %>

    <script type="text/javascript" src="./js/bootstrap.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>