<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="description" content=""> -->
    <!-- <meta name="keywords" content=""> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defense Unicorns - Blog</title>
    <!-- <link rel="stylesheet" href="css/reset.css"> -->
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <%- include("partials/header.ejs") %>

    <main>
        <div class="row hero hero-blog">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <!-- <img class="img-fluid" src="../img/logo.png" alt="defense unicorns logo"> -->
            </div>
            <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                <h1>Feature Article</h1>
                <p class="co">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ducimus inventore velit</p>
                <a class="btn btn-primary" href="/blog1" role="button">Read more...</a>
            </div>
        </div>

        <div class="container mt-5 cardCont">


            <div class="row mt-4 d-flex justify-content-between">
     
                <div class="card" style="width: 22rem;">
                    <img src="https://static.pexels.com/photos/326424/pexels-photo-326424.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>  

                
                  <div class="card" style="width: 22rem;">
                    <img src="https://static.pexels.com/photos/7357/startup-photos.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>  

                  <div class="card" style="width: 22rem;">
                    <img src="https://static.pexels.com/photos/262550/pexels-photo-262550.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>  

            </div>

            <div class="row mt-4 d-flex justify-content-between">

                <div class="card" style="width: 22rem;">
                    <img src="https://static.pexels.com/photos/326424/pexels-photo-326424.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>  

                
                  <div class="card" style="width: 22rem;">
                    <img src="https://static.pexels.com/photos/262550/pexels-photo-262550.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>  

                  <div class="card" style="width: 22rem;">
                    <img src="https://static.pexels.com/photos/7357/startup-photos.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>  

            </div>
            
          </div>

    </main>

    <%- include("partials/footer.ejs") %>
  
  <script type="text/javascript" src="./js/bootstrap.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>