<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="description" content=""> -->
    <!-- <meta name="keywords" content=""> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defense Unicorns</title>
    <!-- <link rel="stylesheet" href="css/reset.css"> -->
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>



<body>

  <%- include("partials/header.ejs") %>

  <h2 class="title text-center pt-5" id="battle">Products</h2>
  <div class="values p-4 d-flex justify-content-around align-items-center">
    <div class="bg-light d-flex flex-column justify-content-center align-items-center">
    <div class="bg-light d-flex justify-content-center align-items-center">
        <img src="../img/apple.png" class="img-fluid w-50" alt="">
    </div>
    <div class="text-center fs-4 mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Placeat 
    </div>
    </div>
    
    <div class="text-center fs-3 d-flex justify-content-center align-items-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus minus, magni culpa ad nulla dignissimos eum nam voluptates id voluptatibus. Repellat perferendis nihil amet quod saepe nobis dolor rerum vitae!</div>
</div>

<div class="values p-4 d-flex justify-content-around align-items-center">
    <div class="bg-light d-flex flex-column justify-content-center align-items-center">
    <div class="bg-light d-flex justify-content-center align-items-center">
        <img src="../img/apple.png" class="img-fluid w-50" alt="">
    </div>
    <div class="text-center fs-4 mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Placeat 
    </div>
    </div>
    
    <div class="text-center fs-3 d-flex justify-content-center align-items-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus minus, magni culpa ad nulla dignissimos eum nam voluptates id voluptatibus. Repellat perferendis nihil amet quod saepe nobis dolor rerum vitae!</div>
</div>

<div class="values p-4 d-flex justify-content-around align-items-center">
    <div class="bg-light d-flex flex-column justify-content-center align-items-center">
    <div class="bg-light d-flex justify-content-center align-items-center">
        <img src="../img/apple.png" class="img-fluid w-50" alt="">
    </div>
    <div class="text-center fs-4 mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Placeat 
    </div>
    </div>
    
    <div class="text-center fs-3 d-flex justify-content-center align-items-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus minus, magni culpa ad nulla dignissimos eum nam voluptates id voluptatibus. Repellat perferendis nihil amet quod saepe nobis dolor rerum vitae!</div>
</div>
<a href="/blog" class="btn btn-outline-dark btn-lg readmore">Read more about these in context on our blog....</a>

    <main>
        <%- include("partials/footer.ejs") %>

    <script type="text/javascript" src="./js/bootstrap.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>