@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

/* Box Model Hack */
* {
  box-sizing: border-box;
}

.flexThisBox {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

body {
  line-height: 1.4;
  font-family: "Lato", "Brush Script MT", "Garamond";
}

/******************************************
/* GLOBAL LAYOUT
/*******************************************/

/** NAV **/
.navMenu {
  display: flex;
  color: inherit;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.navClear {
  transition: all 0.5s ease-in;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 80%,
    transparent 100%
  );
  color: white;
}

.navBg {
  transition: all 0.5s ease-in;
  background: white !important;
  mask-image: none;
  border-bottom: 3px solid red;
}

.logoShadow {
  filter: drop-shadow(2px 2px 2px black);
}

@media only screen and (min-width: 768px) {
  .parent:hover .child {
    opacity: 1;
    height: auto;
    overflow: none;
    transform: translateY(0);
  }
  .child {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transform: translateY(-10%);
  }
}

.navLink {
  color: black !important;
}

.navLink-drop {
  color: black;
}

.navLink:hover,
.navLink:active {
  color: salmon;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Home */
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
  color: black;
  font-weight: 200;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* HERO */

.homeHero {
  height: 100vh;
  width: 100%;
  background: transparent;
  margin-bottom: "25%";
}

.hero {
  height: 100vh;
  width: 100%;
  background: transparent;
  margin-bottom: "25%";
}

/* /////////////////////////// */

/* Latest Trained */
.latestTrained {
  min-height: 70vh;
  width: 100vw;
  background-color: transparent;
  padding-left: 15%;
  padding-right: 15%;
}

/* ///////////////////////////////////// */

/* WHAT WE DO SECTION */

.blog {
  color: rgb(25, 76, 142);
}

.whatWeDo {
  padding-top: 35%;
  padding-bottom: 30%;
}

.blobTop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.tabTitles {
  color: rgb(157, 181, 205);
}

.tabButton {
  color: rgb(157, 181, 205);
}

.textTab {
  font-size: 100%;
}

.borderBottom {
  border-bottom-width: 1px;
}

.fontTitle {
  font-family: Poppins;
}

.card-img-top {
  width: fit-content;
}

.readLink {
  margin-right: 44%;
  color: #f8f6f6;
}

.blogCard {
  padding-bottom: 15%;
}

.unicornSpark {
  width: 19%;
  float: right;
  margin-top: 10%;
}

/* ////////////////////////// */

/* Contact */

.contactCard {
  background-color: rgb(13, 51, 100);
}

.contactHeight {
  height: "90%";
}

.contact input {
  height: 48px;
  font-size: 15px;
  outline: none;
  background-color: transparent;
  @apply pl-3 bg-white rounded-xl;
}

.contact select {
  height: 40px;
  border: none;
  border-bottom: 2px solid red;
  border-radius: 0;
  font-size: 15px;
}

.contact textarea {
  @apply pt-3 pl-3 bg-white rounded-xl;
  font-size: 15px;
  outline: none;
}

.contact input:focus,
.contact textarea:focus {
  @apply border-2 border-solid border-blue-900 rounded-xl px-2;
}

/* Blog */

/*** Blog Posts **/
.postHeader {
  height: 35vh;
}

.postHeaderContainer {
  height: 100%;
  background: url(../images/blog/postHero.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

/* FOOTER */

.socialsBox a,
.footerLink {
  color: red;
}

.contact .socialsBox a {
  color: "red";
}
.socialsBox a {
  margin-right: 2%;
}

.socialsBox a:hover,
.footerLink:hover {
  color: rgb(33, 149, 243);
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.blackBorder {
  border: 2px solid black;
}

.trainForBattle .card:hover {
  background: #fff;
  box-shadow: 0px 0px 10px rgba(218, 163, 163, 0.5);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.latestTrained .card:hover {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}
