.carousel .slick-track {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.carousel .slick-arrow {
  transform: scale(1.8);
}

.carousel .slick-dots li button {
  transform: scale(3);
}
.carousel .slick-dots li button::before {
  color: rgb(202, 195, 195);
}
.carousel .slick-dots li.slick-active button {
  transform: scale(3);
}
.carousel .slick-dots li.slick-active button::before {
  color: rgba(30, 58, 138, 1);
}
