<nav class="navbar navbar-expand-lg">
  <div class="container-fluid ">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul id="navList"class="navbar-nav mb-2 mb-lg-0 w-100 d-flex justify-content-around">
        <li class="nav-item">
          <a class="nav-link" href="/">Train</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Equip
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/blog">Blog</a></li>
            <li><a class="dropdown-item" href="/approach">Platform</a></li>
            <li><a class="dropdown-item" href="/products">Products</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/approach" tabindex="-1">Approach</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" href="/contact" tabindex="-1">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>